body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-image: url('./img/9bb34f8f65c3c8b0cf409b2bb7520315.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.navbar {
    background-color: #2d445a !important; 
}

.navbar-brand {
    font-size: 1.5rem;
}

.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    color: #fff;
}

.card-text {
    font-size: 1rem;
    color: #fff;
}

.card-img-top {
    height: 200px;
    object-fit: cover; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.container h1,
.container h2,
.container p {
    color: #fff;
}

nav li i,
nav li a {
    color: #fff;
}

.navbar-brand,
.nav-link {
    color: #fff; 
}
section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.social-links i {
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease;
}

.social-links i:hover {
    color: #007bff;
}

.address-icon {
    margin-right: 10px;
    color: #007bff;
}

#contato {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('./img/9bb34f8f65c3c8b0cf409b2bb7520315.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#contato .section-title {
    color: #fff; 
}

.container label {
    color: #fff;
}
